menu "Atrium"

menu "software services"

config WFC_TARGET
	string "WFC target name"
	default ""
	help
		name of WFC configuration target

config FUNCTION_TIMING
	bool "instrument for performance analysis"
	default false
	help
		enable for performance analysis only - negative impact for general use

config APP_PARAMS
	bool "application specific parameters"
	default false
	help
		enable to add application parameters as key/value pairs in Config.app_params

config SIGNAL_PROC
	bool "signal processing infrastructure (Buggy, ALPHA!)"
	help
		infrastructure for dynamic signal definition and processing

config UART_CONSOLE
	bool "serial console to configure and operate target device"
	default true
	help
		serial console is especially helpful for devices under development

config UART_MONITOR
	bool "serial monitor"
	default true
	help
		serial monitor that forwards input data to syslog"

config INTEGRATED_HELP
	bool "integrate help in app binary"
	default true
	help
		Integrate help texts into application binary. If you disable this option
		the help pages can still be provided in a ROMFS partition.

config HWCONF_DYNAMIC
	bool "online hardware configuration"
	default	true
	help
		support for configuring and modifying driver online

config MQTT
	bool "MQTT"
	default true
	help
		MQTT support

config AT_ACTIONS
	bool "at service"
	default true
	help
		support for triggering actions at predefined times

config HOLIDAYS
	depends on AT_ACTIONS
	bool "holidays"
	default true
	help
		holiday database for time triggered actions

config HTTP
	bool "http"
	help
		http server

config FTP
	bool "ftp"
	help
		ftp server

config TELNET
	bool "telnet"
	help
		telnet server

config TERMSERV
	bool "uart terminal server"
	help
		UART terminal server function

config SNTP
	bool "sntp"
	default true
	help
		sntp client

config SYSLOG
	bool "syslog"
	default false
	help
		send log messages to syslog host

config INFLUX
	bool "influx"
	default false
	help
		Support for sending measurements as UDP packets to Influx DB 

config MDNS
	bool "mdns"
	default true
	help
		mdns service

config OTA
	bool "ota"
	default false
	help
		over-the-air update support

config SMARTCONFIG
	bool "SmartConfig"
	default false
	help
		WiFi configuration with EPS smart config

config UDPCTRL
	bool "UDP control port"
	default false
	help
		listen on UDP port for control commands

config WPS
	bool "wps"
	default false
	help
		WiFi auto-configuration with WPS

endmenu	# software services

menu "filesystem support"

config SPIFFS
	bool "SPIFFS"
	default false
	help
		SPI Flash File-System
config FATFS
	bool "fatfs"
	default false
	help
		FAT file-system
config ROMFS
	bool "romfs"
	default true
	help
		ROM file-system
endmenu # filesystem

menu "hardware support"

config STATUSLEDS
	bool "heartbeat/status LEDs"
	default true
	help
		heartbeat/status LED

config BUTTON
	bool	"button support"
	default true
	help
		support direct to GPIOs attached buttons

config RELAY
	bool "relay"
	default true
	help
		relay attached to a GPIO

config ONEWIRE
	depends on !ESPTOOLPY_FLASHSIZE_1MB
	bool "onewire"
	default true
	help
		1-wire driver support (right now only DS18x20)

config TOUCHPAD
	depends on IDF_TARGET_ESP32
	bool	"touchpad"
	default true
	help
		multi-channel touchpad support

config DISPLAY
	depends on !ESPTOOLPY_FLASHSIZE_1MB
	bool	"multi-purpose display support"
	default false
	help
		Support for displaying of time/date, and sensor data

config MAX7219
	depends on DISPLAY
	bool "MAX7219 driver"
	default true
	help
		"4-6 digit 7-segment display"

config HT16K33
	depends on DISPLAY && I2C
	bool "HT16K33 driver"
	help
		"4-8 digit for 7/14-segment displays"

config SSD1306
	depends on DISPLAY && I2C
	bool "SSD1306 driver"
	help
		"OLED displays based on SSD1306"

config DHT
	bool "DHT-xx sensor"
	default false
	help
		temperature/humidity measurement with a DHT-xx sensor

config I2C
	bool "I2C bus"
	default false
	help
		I2C bus with BMP280 (temperature, pressure) and BME280 (temperature, humidity, pressure)

config BMX280
	depends on I2C
	bool "BMx280"
	default false
	help
		I2C driver for BME280 and BMP280 air sensor (temperature, humidity, pressure)

config BME680
	depends on BMX280
	bool "BME680"
	default false
	help
		I2C driver for BME680 air sensor (temperature, humidity, pressure, electric resistance)

config HDC1000
	depends on I2C
	bool "HDC1000"
	default true
	help
		I2C driver for HDC1000 sensor (temperature,humidity)

config APDS9930
	depends on I2C
	bool "APDS9930"
	default true
	help
		I2C driver for APDS-9930 sensor (lux,proximity)

config SGP30
	depends on I2C
	bool "SGP30"
	default false
	help
		I2C driver for SGP30 sensor (TVOC,CO2)

config CCS811B
	depends on I2C
	bool "CCS811B"
	default true
	help
		I2C driver for CCS811B sensor (TVOC,CO2)

config PCF8574
	depends on I2C && DISPLAY
	bool "pcf8574"
	default true
	help
		I2C driver for PCF8574 (GPIO expander), used as bridge for HD44780U

config HCSR04
	bool "HC-SR04"
	default false
	help
		distance measurement with HC-SR04

config DIMMER
	bool "multi channel PWM dimmer support"
	default false
	help
		multi-channel PWM dimmer (esp32: hardware, esp8266: software)

config LEDSTRIP
	depends on SIGNAL_PROC
	bool	"LED strip support"
	default false
	help
		LED stripes based on WS8212b

config CAMERA
	depends on IDF_TARGET_ESP32
	bool	"ESP32 camera support"
	default false

config NIGHTSKY
	bool	"TLC5947 based led control"
	default false

endmenu # harware support


endmenu
